appdirs
asgiref
beautifulsoup4
CacheControl
certifi
chardet
colorama
contextlib2
distlib
distro
Django
django-cors-headers
djangorestframework
html5lib
idna
ipaddr
lockfile
lxml
msgpack
packaging
pep517
progress
pyparsing
pytoml
pytz
requests
retrying
six
soupsieve
sqlparse
urllib3
webencodings