aiohttp
appdirs
asgiref
async-timeout
attrs
autopep8
beautifulsoup4
CacheControl
certifi
chardet
colorama
contextlib2
distlib
distro
dj-database-url
Django
django-cors-headers
django-heroku
djangorestframework
gunicorn
html5lib
idna
ipaddr
lockfile
lxml
msgpack
multidict
packaging
pathlib-mate
pep517
Pillow
profanity
progress
psycopg2
pycodestyle
pyparsing
pytoml
pytz
requests
retrying
setuptools==41.0.0
six
soupsieve
SQLAlchemy
sqlparse
tensorflow-cpu
toml
urllib3
uszipcode
webencodings
whitenoise
yarl