appdirs
asgiref
beautifulsoup4
CacheControl
certifi
chardet
colorama
contextlib2
distlib
distro
dj-database-url
Django
django-cors-headers
django-heroku
djangorestframework
gunicorn
html5lib
idna
ipaddr
lockfile
lxml
msgpack
packaging
pep517
progress
psycopg2
pyparsing
pytoml
pytz
requests
retrying
six
soupsieve
sqlparse
urllib3
webencodings
whitenoise